<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Meso - Medidor de Software</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="node_modules/angular-material-data-table/dist/md-data-table.min.css">
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body ng-app="mesoApp">
    <main ng-cloak layout="column">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <h2 md-truncate>Meso - Medidor de software</h2>
            </div>
        </md-toolbar>
        <md-content class="container-principal">
            <md-tabs class="container-tabs" md-border-bottom md-stretch-tabs="always">
            <md-tab label="requisitos">
                <md-content class="md-padding" ng-controller="requisitosCtrl" layout="column">
                    <h1 class="md-display-1">Entidades da análise do ponto de função</h1>
                    <form name="requisitoForm">
                        <div layout="row">
                            <md-input-container flex="40" class="md-block" flex-gt-sm>
                                <input ng-model="requisitoModel.nomeRequisito" placeholder="Digite o requisito...">
                            </md-input-container>
                            <md-input-container flex="10" class="md-block" flex-gt-sm>
                                <md-select ng-model="requisitoModel.entidade" ng-change="eventoMudarEntidade()">
                                    <md-option ng-repeat="entidade in entidades" value="{{entidade}}">
                                        {{entidade}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex="25" class="md-block">
                                <input type="number" placeholder="Digite a quantidade de dados..." step="any" name="rate" ng-model="requisitoModel.qtdDados"/>
                            </md-input-container>
                            <md-input-container flex="25" class="md-block">
                                <input type="number" placeholder="Digite quantos AR/TR existem..." step="any" name="rate" ng-model="requisitoModel.artr"/>
                            </md-input-container>
                        </div>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <md-button class="md-raised" ng-click="!isEditar ? salvarRequisito() : editarRequisito()">{{!isEditar ? 'Adicionar requisito' : 'Atualizar requisito'}}</md-button>
                            <md-button class="md-raised md-primary" ng-click="calcularPF()">Calcular PF</md-button>
                            <md-button class="md-raised md-primary" ng-click="exportaCsv()">Exportar CSV</md-button>
                        </section>
                    </form>
                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column>Requisito</th>
                                <th md-column md-numeric>Entidade</th>
                                <th md-column md-numeric>Quantidade de dados</th>
                                <th md-column md-numeric>AR/TR</th>
                                <th md-column md-numeric>Grau</th>
                                <th md-column md-numeric>Pontos de função</th>
                                <th md-column>Editar</th>
                                <th md-column>Excluir</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="requisito in requisitos track by $index">
                                <td md-cell>{{requisito.nomeRequisito}}</td>
                                <td md-cell>{{requisito.entidade}}</td>
                                <td md-cell>{{requisito.qtdDados}}</td>
                                <td md-cell>{{requisito.artr}}</td>
                                <td md-cell>{{requisito.grau}}</td>
                                <td md-cell>{{requisito.pontosFuncao}}</td>
                                <td md-cell>
                                    <md-button class="md-fab md-mini" aria-label="editar" ng-click="formEditarRequisito(requisito)">
                                        <md-icon layout-align="center center">
                                            <ng-md-icon icon="mode_edit" style="fill: white" size="24px"></ng-md-icon> 
                                        </md-icon>
                                    </md-button>
                                </td>
                                <td md-cell>
                                    <md-button class="md-fab md-mini" aria-label="excluir" ng-click="formExcluirRequisito(requisito)">
                                        <md-icon layout-align="center center">
                                            <ng-md-icon icon="delete" style="fill: white" size="24px"></ng-md-icon> 
                                        </md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-content>
            </md-tab>
            <md-tab label="fator de ajuste">
                <md-content class="md-padding" ng-controller="FatorAjusteCtrl">
                    <h1 class="md-display-1">Classificação dos fatores de ajuste</h1>
                    <form name="fatorAjusteForm">
                        <section layout="row">
                            <div layout="column" flex="50" layout-padding>
                                <md-input-container class="md-block">
                                    <label>Comunicação de Dados</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="comunicacaoDados"
                                        ng-model="fatorAj.comunicacaoDados"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Processamento Distribuído</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="processDistribuido"
                                        ng-model="fatorAj.processamentoDistrib"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Performance</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="performance"
                                        ng-model="fatorAj.performance"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Configuração Altamente Utilizada</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="configAltUtili"
                                        ng-model="fatorAj.configAltUtilizada"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Volume de transações</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="volumeTrans"
                                        ng-model="fatorAj.volumeTransacoes"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Entrada de Dados On-Line</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="entradaOnline"
                                        ng-model="fatorAj.entradaDadosOnline"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Eficiência do Usuário Final</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="eficienciaUsrFinal"
                                        ng-model="fatorAj.eficienciaUsrFinal"/>
                                </md-input-container>
                            </div>
                            <div layout="column" flex="50" layout-padding>
                                <md-input-container class="md-block">
                                    <label>Atualizações On-Line</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="atualiOnline"
                                        ng-model="fatorAj.atualizacoesOnline"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Complexidade de Processamento</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="complexProcess"
                                        ng-model="fatorAj.complexidadeProcess"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Reutilização</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="reutilizacao"
                                        ng-model="fatorAj.reutilizacao"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Facilidade de Instalação</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="facilidadeInstalacao"
                                        ng-model="fatorAj.faciliInstal"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Facilidade de Operação</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="facilidadeOper"
                                        ng-model="fatorAj.faciliOper"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Múltiplos locais</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="multiLocais"
                                        ng-model="fatorAj.multiLocais"/>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Facilidade Mudanças</label>
                                    <input type="text"
                                        ui-number-mask="0"
                                        min="0"
                                        max="5"
                                        step="any"
                                        name="facilidadeMud"
                                        ng-model="fatorAj.faciliMudancas"/>
                                </md-input-container>
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <md-button class="md-raised md-primary" ng-click="calcularFatorAjuste()">Calcular PF com fator de ajuste</md-button>
                        </section>
                    </form>
                    
                </md-content>
            </md-tab>
            <md-tab label="configurações">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Em breve ^_^</h1>
                </md-content>
            </md-tab>
            </md-tabs>
        </md-content>
    </main>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="app.js"></script>
</body>
</html>